<div style="height : 97.9vh; background-color: rgb(209, 165, 165) ; border: 10px solid black; padding: 20px; " >

<div  style="display : flex; margin-bottom: 20px;" >
  <button (click)="setLange('TH')"  style="margin-right:10px" >TH</button>
  <button (click)="setLange('EN')" >EN</button>
</div>

<div style="display : flex" >
  <div id="menu1" name="menu" style="margin-right: 10px; cursor: pointer; width: 300px; border: 5px solid white; background-color: bisque; padding: 20px; align-items: center; text-align: center; font-weight: bold;" >
    <input type="text" [(ngModel)]="data.app_1" />
    <button (click)="Open('app_1')" >Open App1</button>
</div>

<div id="menu2" name="menu" style="margin-right: 10px; cursor: pointer; width: 300px; border: 5px solid white; background-color: bisque; padding: 20px; align-items: center; text-align: center; font-weight: bold;" >
  <input type="text" [(ngModel)]="data.app_2" />
  <button (click)="Open('app_2')" >Open App2</button>
</div>

<div style="display : flex" >
  <div id="menu" name="menu" style="margin-right: 10px; cursor: pointer; width: 300px; border: 5px solid white; background-color: bisque; padding: 20px; align-items: center; text-align: center; font-weight: bold;" >
    <input type="text" [(ngModel)]="data.app_3" />
    <button (click)="Open('app_3')" >Open App3</button>
</div>

<div id="menu3" name="menu" style="margin-right: 10px; cursor: pointer; width: 300px; border: 5px solid white; background-color: bisque; padding: 20px; align-items: center; text-align: center; font-weight: bold;" >
  <input type="text" [(ngModel)]="data.app_4" />
  <button (click)="Open('app_4')" >Open App4</button>
</div>


</div>

</div>
<router-outlet></router-outlet>